{% extends "layout-new.html" %}

{% block title %}
	About
{% endblock %}

{% block header %} 
	Welcome! This is Green Harvard.
{% endblock %} 

{% block main %} 
    <!-- description --> 
    <p>Green Harvard is a <b>competition-based energy site</b> created in CS50 for students to act in environmentally-friendly ways.</p> 
    
    <!-- about the authors ;) --> 
    <img width="70%" src="https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/15337460_10103301130669471_5016315424833925964_n.jpg?oh=6e7472f60a69d6faf8dfa887f61689da&oe=58AFBA74">
    <p></p>
    <p>Who are the two on the ends, you ask?</p>
    <p>They're the creators of this site: <b>Vicky (right) and Rebecca (left)!</b> As you can see, they're super excited to share this site with you.</p>
    
    <!-- video --> 
    <p>Here's a <b>video</b> that'll hopefully explain how the site works and its goals.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dLiy_Xf-eR8" frameborder="0" allowfullscreen></iframe>
    
    <!-- pusheen --> 
    <p>Also, please enjoy this <b>gif</b>. Happy helping the earth! <i class="fa fa-heart"></i></p>
    <img width="70%" src="http://31.media.tumblr.com/ebe0a890e987d17110221fa6ee84647a/tumblr_n4gfxgICiL1rpdgrpo1_500.gif">
{% endblock %}