{% extends "layout-new.html" %}

{% block title %}
	Register
{% endblock %}

{% block header %} 
	Register for an account!
{% endblock %} 

{% block main %} 
    <!-- alert box if get an error --> 
    {% if error_len != 0 %}
    <div class="alert alert-danger alert-dismissible respect-newline">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ error }} 
    </div>
    {% endif %}
    
    <!-- inputs -->
    <form action="{{ url_for('register') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="confirmpassword" placeholder="Confirm Password" type="password"/>
            </div>
            <h4>Dorm:</h4>
            <div class="form-group wrapper-dropdown">
                <select name="dorm">
                    <option value="Apley">Apley</option>
                    <option value="Canaday">Canaday</option>
                    <option value="Grays">Grays</option>
                    <option value="Greenough">Greenough</option>
                    <option value="Hollis">Hollis</option>
                    <option value="Holworthy">Holworthy</option>
                    <option value="Hurlbut">Hurlbut</option>
                    <option value="Lionel">Lionel</option>
                    <option value="Matthews">Matthews</option>
                    <option value="Mower">Mower</option>
                    <option value="Pennypacker">Pennypacker</option>
                    <option value="Stoughton">Stoughton</option>
                    <option value="Straus">Straus</option>
                    <option value="Thayer">Thayer</option>
                    <option value="Weld">Weld</option>
                    <option value="Wigglesworth">Wigglesworth</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Register</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
